body {
    background-image:url('/img/search_back.jpg');
    margin-top: 200px;
}

 .qt{
     margin-bottom: 30px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
 }

 .in{
     margin-bottom: 30px;
 }
 .tb{
    background-color: white;
 }

 .not-avail {
    color: red;
}
.avail {
    color: green;
}