<h1 class="page-header">
    Add Batch
 </h1>
 <div class="col-xs-6">   
    <%- include ('../../partials/messages') %>     
    <div id="addberror"></div> <!--show error -->           
     <form action="/Student/AddBatch" method="POST" id="add-batch">
         <div class="form-group">
             <label for="cat-title"> Starting Year </label>
             <input type="text" class="form-control" name="start" id="strY">
         </div>
         <div class="form-group">
            <label for="cat-title"> Ending Year </label>
            <input type="text" class="form-control" name="end" id="endY">
        </div>
         <div class="form-group">
            <button class="btn btn-primary my-2 my-sm-0" type="button" onclick="addBatch()" > Add Batch </button>
         </div>
     </form>
 </div>

 <div class="col-xs-6" style="overflow-x:auto;">
     <h4>BATCH</h4>
     <table class="table table-bordered table-hover">
         <thead class="thead-dark">
             <tr>
                 <th> Start </th>
                 <th> End </th>
                 <th> View </th>
                 <th> Edit </th>
                 </tr>
         </thead>
         <tbody>
            <% batchs.forEach(function(batch){ %>
                <tr>
                    <td><%=  batch.start %></td>
                    <td><%=  batch.end %></td>
                    <td><a href="/Student/Batch/<%= batch._id%>"><button class="btn btn-primary"> View </button></a></td>
                    <td> <button class="btn btn-primary"> Edit </button> </td>
                </tr>
            <% }); %>
         </tbody>
     </table>
 </div>
 