<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Semesters
        </h3>
        <div class="col-lg-2 col-md-6" >
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            <div class='huge'>1</div>
                              <div> Semester</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Resource/Questions/1">
                        <div class="panel-footer">
                            <span class="pull-left"> View </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        <div class="col-lg-2 col-md-6" >
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            <div class='huge'>2</div>
                              <div> Semester</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Resource/Questions/2">
                        <div class="panel-footer">
                            <span class="pull-left"> View </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        <div class="col-lg-2 col-md-6" >
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            <div class='huge'>3</div>
                              <div> Semester</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Resource/Questions/3">
                        <div class="panel-footer">
                            <span class="pull-left"> View </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        <div class="col-lg-2 col-md-6" >
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            <div class='huge'>4</div>
                              <div> Semester</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Resource/Questions/4">
                        <div class="panel-footer">
                            <span class="pull-left"> View </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        <div class="col-lg-2 col-md-6" >
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                            <div class='huge'>5</div>
                              <div> Semester</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Resource/Questions/5">
                        <div class="panel-footer">
                            <span class="pull-left"> View </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
    </div>
</div>