<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Profile Update
        </h2>
        <div class="col-lg- col-md-6">
            <div id="updateerror"></div>
            <% if(typeof updateerror != 'undefined'){ %>
               <div class="alert alert-danger" role="alert">
                   <%= updateerror  %>
                 </div>  
                 <% } %> 
            <% if(typeof updated != 'undefined'){ %>
                <div class="alert alert-success" role="alert">
                    <%= updated  %>
                </div>  
            <% } %> 
            <form action="/Profile" method="POST" id="update-profile">
            <table class="table table-bordered">
                <thead>
                    <tr>
                       <th colspan="2">Profile</th> 
                    </tr>
                   
                </thead>
                <tbody>
                    <tr><td>Name </td><td><input type="text" class="form-control" value="<%= user.name %>" name="name" id="upname"></td></tr> 
                    <tr><td>Email </td><td><input type="text" class="form-control" value="<%= user.email %>" name="email" id="upemail"></td></tr>
                    <tr><td>Enter Current password</td><td><input type="password" name="password" placeholder="Current Password" class="form-control" id="upcupass"></td></tr>  
                    <tr><td>Enter New password</td><td><input type="password" name="updatePassword" placeholder="New Password" class="form-control" id="uppass"></td></tr>  
                    <tr><td>Confirm New password</td><td><input type="password" name="updateConfirmPassword" placeholder="Confirm Password" class="form-control" id="upconpass"></td></tr>  
                    <tr><td colspan="2"><button class="btn btn-primary btn-block" type="button" onclick="updateProfile()">Update</button></td></tr>
                </tbody>
                
            </table>
        </form>

        </div>
    </div>
</div>