<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        Books
            
        </h1>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                          <div class='huge'><%= ret %></div>
                                <div>All Details</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Returns">
                        <div class="panel-footer">
                            <span class="pull-left">View</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                              <div >Return A Book</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Returnbook">
                        <div class="panel-footer">
                            <span class="pull-left"> Return </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                              <div >Book History</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Bookhistory">
                        <div class="panel-footer">
                            <span class="pull-left"> View History </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>